@model IEnumerable<CONSULS_SYSTEM.Models.MT_Country>
@using CONSULS_SYSTEM.Resources
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = "Country";
    Layout = "_Layout_member";
}

<script type="text/javascript">
    function bind_content(id, content) {
        $('#' + id).html("");
        $('#' + id).append(content);
    }

</script>

<style type="text/css">
    section h3.section-subheading {
        min-height: 0px !important;
        margin-bottom: 0px;
    }

    td {
        padding: 10px !important;
    }

    section {
        padding: 0% 0 !important;
        margin-top: 0% !important;
    }
</style>
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br />
                <h2 class="section-heading">@SharedLocalizer.GetLocalizedHtmlString("Countries")</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-3 portfolio-item">
                    @{
                        string tag_html = item.Descriptions;
                        if (tag_html != null)
                        {
                            tag_html = tag_html.Replace("\r", "").Replace("\n", "").Replace("\t", "");
                        }
                    }
                    <a href="#@item.Country_ID" class="portfolio-link" data-toggle="modal" onclick="bind_content('div_Country_@item.Country_ID','@tag_html')">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="@Url.Content(item.Img_Url)" style="height:200px;width:100%" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>@item.Name</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@foreach (var item in Model)
{
    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="@item.Country_ID" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>@item.Name</h2>
                                <p class="item-intro text-muted"> </p>
                                <img class="img-responsive img-centered" src="@Url.Content(item.Img_Url)" alt="">
                                <div id="div_Country_@item.Country_ID" style="text-align:left">

                                </div>
                                <br />
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
