@model IEnumerable<CONSULS_SYSTEM.Models.TB_Meeting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_member.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meeting_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
